@{
    ViewData["Title"] = "Home Page";
}
<div class="image-background-index" style="margin-bottom: 40px;">
        <div class="block-image">
            <div class="blackout"></div>
            <img src="https://i.pinimg.com/originals/54/fa/1c/54fa1ce0f21cb91c9a571855ca83d71a.jpg">
        </div>
    <h1 class="display-4 text-center text-white">Добро пожаловать на сайт металлургического завода "Металлорай"!</h1>
</div>
<div class="back-white">
    <p>Мы рады приветствовать Вас на странице нашего предприятия, которое занимается производством и поставкой высококачественной металлургической продукции. Слово "Металлорай" олицетворяет наши главные принципы - надежность, качество и инновации.</p>
    <p>Мы являемся одним из ведущих металлургических заводов в отрасли, предлагая широкий ассортимент металлургических материалов для различных отраслей промышленности. Наша продукция отвечает самым высоким стандартам и требованиям, что подтверждается сертификатами качества и долгосрочными партнерскими отношениями с ведущими компаниями.</p>
    <p>На "Металлорае" мы гордимся своей мощной производственной базой, оснащенной передовым оборудованием и технологиями. Наши высококвалифицированные специалисты - настоящие профессионалы своего дела, постоянно совершенствующие свои навыки и ищущие новые пути развития.</p>
    <p>Мы предлагаем широкий спектр продукции, начиная от проката и металлических изделий до специальных сплавов и промышленных решений на заказ. Все наши материалы проходят строгий контроль качества, что гарантирует надежность и долговечность нашей продукции.</p>
    <p>Наши клиенты - это не только крупные производственные компании, но и малый и средний бизнес. Мы готовы предложить оптимальные условия сотрудничества и индивидуальный подход к каждому заказчику.</p>
    <p>Мы стремимся быть надежным партнером и постоянно работаем над улучшением нашей продукции и сервиса. Наша цель - обеспечить Ваше производство качественными материалами, которые помогут вам достигнуть успеха и роста вашего бизнеса.</p>
    <p>Спасибо за посещение нашего сайта "Металлорай". Мы надеемся, что Вы найдете здесь все необходимые сведения о нашей компании и продукции. Если у вас возникли вопросы или вам нужна дополнительная информация, не стесняйтесь связаться с нами. Мы всегда готовы помочь вам.</p>
    <div style="text-align: right">
        <p style="margin-bottom: 0">С уважением,</p>
        <p>Команда "<i><b>Металлорай</b></i>"</p>
    </div>
</div>